{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="#">dashboard</a></li>
{% endblock %}
{% block body %}
    <div class="example-wrapper">
        <h1>Hello {{ controller_name }}! ✅</h1>
        This friendly message is coming from
    </div>
{% endblock %}
